
@media (max-width: 768px) {
  .movie-title {
    font-size: 2rem;
  }
  
  .movie-poster {
    width: 100%;
  }
  
  .cast-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992px) {
}
@media (min-width: 300px) {
  .container {
    width: 95%;
  }
}
/* small */
@media (min-width: 576px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 95%;
  }
}


@media (max-width:991px)  {
  .movie_container{
padding: 0 5px;

  }
}
@media (min-width: 992px) {
  .container {
    width: 95%;
  }
  .movies_grid{

    
    gap: 10px; 

  }



}
@media (min-width: 1200px) {
  .container {
    max-width:  95%;
  }
}
@media (max-width: 768px) {
  .actorProfile {
    flex-direction: column-reverse;
  }
  
  .actorFilms, .aboutActor {
    width: 100%;
  }
  
  .aboutActor {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  
  .aboutActor img {
    width: 150px;
    height: auto;
    margin-right: 20px;
  }
}
