.logo {
  display: flex;
  justify-content: center;
}
.logo .logo_icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.logo h1 {
  margin: auto 0;
}
.carousel-item {
  height: 600px;
  width: 100%;
  background: url("https:/mage.tmdb.org/t/p/w1280/ztkUQFLlC19CCMYHW9o1zWhJRNq.jpg") no-repeat center center;
  background-size: cover; /* Ensures it fills the container */
}

