@media (max-width: 992px) {
  .services div:nth-child(3) {
    order: 5;
    /* display: none; */
  }
}
/* xsmall */
@media (min-width: 300px) {
  .container {
    width: 280px;
  }

}
/* small */
@media (min-width: 576px) {

  .container {
    width: 560px;
  }

}

/* medium */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* large */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* XL */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
