@media (max-width: 992px) {
}
/* xsmall */
@media (min-width: 300px) {
  .container {
    width: 85%;
  }
}
/* small */
@media (min-width: 576px) {
  .container {
    width: 85%;
  }
}

/* medium */
@media (min-width: 768px) {
  .container {
    width: 85%;
  }
}

/* large */

@media (max-width:)  {
  
}
@media (min-width: 992px) {
  .container {
    width: 85%;
  }
  .movies_grid{

    grid-template-columns: repeat(5, 1fr);
    gap: 10px; /* Adds spacing between grid items */

  }



}
/* XL */
@media (min-width: 1200px) {
  .container {
    max-width:  85%;
  }
}
