*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
text-decoration: none;

}
:root {
  --main-color: #13c6b0;
}
body {
  background-color: black;
}
.navbar{
position: sticky;
top: 0;
z-index: 99;

}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  background: #232b32; /* Dark Background */
  border-radius: 25px; /* Rounded Edges */
  padding: 10px 15px;
  width: 250px; /* Adjust as needed */
}

.search-input {
  border: green;
  background: transparent;
  outline: none;
  color: #fff;
  flex: 1; 
}
.search-input :focus{
  display: none;
}

.search-button {
  background: none;
  border: none;
  color: #b0b3b8; /* Light grey */
  cursor: pointer;
  font-size: 18px;
}

.search-button:hover {
  color: #fff; /* Brighter on hover */
}


.logo {
  display: flex;
  justify-content: center;
}
.logo .logo_icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.logo h1 {
  color: var(--main-color);
  margin: auto 0;
}
.movie_container {
}
.movie-card {
  width: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);


}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.top-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--main-color);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 5px;
}

.movie-title {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: gray;
}
.movie-card:hover + .movie-title {
  color: white;
  margin-top: 15px ;
  margin-bottom: 5px;
  transition: margin 0.3s ease-in-out;

}


.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 8px;
}

.image-container img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

/* الظل المتدرج على الصورة */
.image-container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /* التحكم في ارتفاع الظل */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  border-radius: 8px;
}

.rating {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  z-index: 2;
  color: whitesmoke;
}

.rating i {
  font-size: 8px;
  color: whitesmoke;
}
